.article1 {
  display: block;
  margin-left: 20%;
  width: 60%;
  height: 100%;
  padding: 20px;
  border-left-style: solid;
  border-left-color:  #D81E05;
  border-right-style: solid;
  border-right-color:  #D81E05;
}

.zoom:hover {
  -ms-transform: scale(1.75);
  -webkit-transform: scale(1.75);
  transform: scale(1.75);
}
