

body{background: white;}

h1 {background-color: #D81E05;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.center{
  text-align: center;
}
.p {
  text-align: center;
}
.moscow{
  top: 250px;
}
table, th, td {
  border: 2px solid #D81E05;
  border-collapse: collapse;
}
th{
  font-size: 23px;
}
th,td{
  padding: 20px;
}
